body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.categoryDropdown {
    width: 100%;
    border-radius: 4px;
    height: 35px;
    border-color: #BDBDBD;
    padding-left: 8px;
    color: #302f2f;
    outline: none;
}

.Link {
    margin-right: 70px;
    color: #302f2f;
}

.navbar-light .navbar-brand {
    margin-right: 100px;
    /* margin-right: 220px; */
    font-weight: bold;
    font-size: 30px;
    padding-left: 150px;
}

.categoryErrmsg {
    color: #D83752;
    text-align: start;
    font-size: 14px;
    margin-top: 2px;
}

.styleinfo{
display: inline;
margin-left: 5px;
float: right;
margin-top: 7px;
font-size: 10px;
}

.cardviewblog{
max-Width: 150px;
}
@media screen and (max-width: 991px) {
    .navbar-light .navbar-brand {
        padding-left: 0px;
        margin-right: 0px;
    }
}